<div class="container">
    <div class="card">
        <div class="card-header">
        <h3 class="title"> Loan Details</h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive w-100 table-striped table-borderless">
          <tbody>
            <tr>
                <td>Applicant</td>
                <td>Benjamin Jamin </td>
            </tr>
            <tr>
                <td class="key">Amount</td>
                <td>10000</td>
            </tr>
            <tr>
                <td class="key">Status</td>
                <td>pending</td>
            </tr>
            <tr>
                <td class="key">Status</td>
                <td>pending</td>
            </tr>
            <tr>
                <td class="key">Loan Fee</td>
                <td>100</td>
            </tr>
            <tr>
                <td class="key">Interest Rates</td>
                <td>10 %</td>
            </tr>
            <tr>
                <td class="key">Loan Duration</td>
                <td>10 %</td>
            </tr>
          </tbody>
                <!-- <tr>Applicant</tr> -->
            </table>
        </div>
    </div>
</div>