<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex.gt-sm="90.00%" fxFlex.gt-xs="100.00%" fxFlex="100%">
        <nz-card  [nzBordered]="true" nzTitle="{{cardTitle | uppercase}}">
            <div class="row">
                <div class="col-4">
                <img src="assets/img/placeholder/building.png" height="250" width="250" alt="">
                </div>
                <div class="col-8">
                   <div class="vertLine">
                    <table class="table table-responsive table-bordered table-striped">
                        <tr>
                            <td class="key">Company name</td>
                            <td>Company x</td>
                        </tr>
                        <tr>
                            <td class="key">Company name</td>
                            <td>Company x</td>
                        </tr>
                    </table>
                   </div>
                </div>
            </div>
            </nz-card>
        </div></div>

        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex.gt-sm="90.00%" fxFlex.gt-xs="100.00%" fxFlex="100%">
                <app-view-company-loans></app-view-company-loans>
                </div>
                </div>