
<div nz-row>
  <div nz-col nzSpan="12"></div>
  <div nz-col nzSpan="4">
    <button (click)="downloadTemplate()" class="pull-right button-upload" nz-button>
      <span><i nz-icon nzType="cloud-download"></i> Download template</span>
    </button>
  </div>
  <div nz-col nzSpan="4">
    <button (click)="uploadCorporates()"class="pull-right button-upload"  nz-button nzType="primary">
      <span>Upload Companies Excel</span>
    </button>
  </div>
  <div nz-col nzSpan="4">
    <button (click)="create()" class="pull-right" nz-button nzType="primary">
      <span>+ Create Company</span>
    </button>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex.gt-sm="90.00%" fxFlex.gt-xs="100.00%" fxFlex="100%">
       
      <nz-card  [nzBordered]="true" nzTitle="{{cardTitle | uppercase}}" [nzExtra]="extraTemplate">
        <nz-table #basicTable [nzData]="workflows" nzSize="small"  [nzFrontPagination]="false"[nzLoading]="loading" [nzTotal]="total" 
        [nzPageSize]="pageSize" [nzPageIndex]="page" nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
          <thead style="font-weight: bold;">
            <tr>
              <th>S.N</th>
              <th>Company Name</th>
              <th>Reg.</th>
              <th>Email</th>
              <th>Revenue Pin</th>
              <th>Postal</th>
              <th>Branch</th>
              <!-- <th>Purpose</th> -->
             
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index;">
              <td>{{i+1}}</td>
              <td>{{data.company_name}}</td>
              <td>{{data.reg_no }}</td>
              <td>{{data.email}}</td>
              <td>{{data.revenue_authority}}</td>
              <td>{{data.postal_address}}</td>
              <td>
                {{data.branch}}
                <!-- <app-active-label [labelValue]="data.isActive"></app-active-label> -->
              </td>
              
              <td>
                  <button nz-button nzSize="small" nzType="primary" nzGhost
                  >
                  <i nz-icon (click)="viewMore(data)" nzType="eye"  nzTheme="outline"></i>
                  </button>
                 
                
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
      <ng-template #extraTemplate>
        <button nz-button nzType="primary"></button>&nbsp;
        <button nz-button nzType="primary"></button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="exportWorkflowXLSX()">
                <mat-icon>file_copy</mat-icon>
                XLSX
            </button>
            <button mat-menu-item (click)="exportWorkflowPDF()">
                <mat-icon>picture_as_pdf</mat-icon>
                PDF
            </button>
        </mat-menu>
      </ng-template>
    </div>
  </div>