.stepper-nav{
    margin-top: 20px !important;
    font-weight: 200 !important;
    margin-bottom: 50px !important;
    // background-color: rgb(201, 207, 205) !important;
    padding: 10px !important;
    height: 70px !important;
    width: 100% !important;
    //.stepper-title{
        // padding-left: 20px !important;
        // margin-left: 20px !important;
   // }
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

