// /** DASHBOARD STYLES */

// .card-widget {
//     border: none !important;
//   }
//   mat-card {
//     box-shadow: none !important;
//     border-radius: 0px !important;
//   }
//   .card-widget {
//       p{
//           text-transform: uppercase !important;
//       }
//     border: none !important;
//   }
//   .sections-last {
//     height: 60px !important;
//     border-right: 4px solid #ffffff;
//   }
//   .sections {
//     // background: #4cfd29 !important;
//     height: 60px !important;
//     // height: 60px;
//     // padding-left: 10px !important;
//     margin-left: 10px !important;
//     border-right: 3px solid #5aa454;
//   }
//   mat-card {
//     color: #0d2d4e !important;
//     box-shadow: none !important;
//   }
//   .wrap {
//     background-color: #ffffff !important;
//   }
//   .values {
//     color: #0074eb !important;
//   }
  
//   #row1Values {
//      background-color: #ffffff !important;
//     p {
//       color: #5aa454 !important;
//       font-weight: bold;
//     }
//   }
//   #row2Values {
//     p {
//       color: #ffffff !important;
//       font-weight: bold;
//     }
//     h2 {
//       color: #ffffff !important;
//     }
//   }

.card {
  background-color: #fff;
  border-radius: 0px;
  border: none;
  position: relative;
  width: 107% !important;
  margin-bottom: 30px;
 h2{
  color: #fff !important;
 }
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
 
  color: #fff;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 70px;
  margin-right: 20px !important;
  color: rgb(255, 251, 251) !important;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}
.card-title{
  color: #fff !important; 
}