<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <br>
         Approve Employee Limit
        </div>
        <div class="card-body">
        <table class="table  table-responsive table-borderless table-striped w-100">
            <thead>
                <tr class="key">
                    <th>Name</th>
                    <th>Staff No</th>
                    <th>Limit</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <th>Johnathan Clarks</th>
                    <th>Ecd -645</th>
                    <th>KES.20,000</th>
                </tr> -->
                <tr>
                    <th>Johnathan Clarks</th>
                    <th>Ecd -645</th>
                    <th>KES.20,000</th>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="card-footer">
           <div class="row">
               <div class="col-md-6">
                <button class="btn btn-secondary pull-left">
                    <i class="fa fa-check-square text-white"></i> Cancel
                    </button>
               </div>
               <div class="col-md-6">
                <button class="btn btn-primary pull-left">
                    <i class="fa fa-check-square text-white"></i> Approve Limit
                    </button>
               </div>
           </div>

        </div>
    </div>
</div>