
    <div class="row">

        <div class="col-12">
            <app-dashboard-tiles [tilesData]="tilesData"></app-dashboard-tiles>
        </div>
        <br>
        <div class="col-12">
            <app-line-chart-loans-count [chartDetailsC]="chartDetailsCount" [loanCounts]="loanCounts"></app-line-chart-loans-count>
        </div>
        <br>
        <div class="col-12">
            <app-line-chart-loans-value [chartDetailsV]="chartDetailsValue" [multi]="multi"></app-line-chart-loans-value>
        </div>

    </div>


